<div id="rotator"></div>
<header>
  <div class="container-flow">
    <div class="wrapper">
      <nav>
        <ul class="flex-wrp main-menu">
          {{ page.menu_left }}
          {{ page.logo }}
          {{ page.menu_right }}
        </ul>   
      </nav>
    </div>
  </div>
</header>
{{ page.message }}
<main id="fullpage">
  <section class="main-banner flex-wrp section">
    {{ page.banner }}
  </section>        
  <section class="section main-banner flex-wrp product-property">
    {{ page.content_top }}
  </section>        
  <section class="section main-banner flex-wrp product-property benefits">
    {{ page.content }}
  </section>        
  <section class="section video-scoop">
    {{ page.content_middle }}
  </section>        
  <section class="section main-banner health flex-wrp">
    {{ page.content_bottom }}
  </section>        
</main>
<footer>
  <div class="container-flow">
    <div class="wrapper flex-wrp">
      <div class="copy flex-wrp">
        <p class="copyright">Copyright &copy; Sun Pharmaceutical Industries Ltd. </p>
        <ul class="flex-wrp">
          {{ page.footer }}
        </ul>
      </div>
      <div class="subs-wrp">
        <ul class="flex-wrp">
          <li><a href="javascript:;">subscribe</a></li>
          <li><a href="javascript:;">unbscribe</a></li>
        </ul>
      </div>
      <div class="social-wrp">
        <ul class="flex-wrp">
          <li><img src="/{{ directory }}/images/fb.png" alt="fb"></li>
          <li><img src="/{{ directory }}/images/tw.png" alt="tw"></li>
          <li><img src="/{{ directory }}/images/yt.png" alt="yt"></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
